* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: greenyellow;
}


.parent {
    margin: 10px;
    width: 1516px;
    height: 700px;
    background-color: black;
    position: relative;
}

.child {
    width: 100px;
    height: 100px;
    top: 50px;
    background-color: red;
    position: absolute;
}